<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Analisis Sentimen Kabinet Indonesia Maju</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row height-100-vh mt">
          <div class="col-3 dark-blue-bg pt-5 px-3">
            <ul class="nav flex-column mt-4 nav-menu">
                <li class="nav-item menu-active">
                    <a class="nav-link active link-light" aria-current="page" href="{{ url_for('show_index') }}">Beranda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('show_pengolahan_data') }}">Pengolahan Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('show_fitur_seleksi') }}">Fitur Seleksi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('show_training_evaluasi') }}">Training dan Evaluasi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{{ url_for('show_prediksi_sentimen') }}">Prediksi Sentimen</a>
                </li>
              </ul>
          </div>
          <div class="col pt-5 px-lg-5">
            <div class="container mt-4">
              <h3 class="text-center text-wrap h4-style fw-bold pb-4 ">Prediksi Analisis Sentimen Kabinet Indonesia Maju dalam Menangani COVID-19 Menggunakan <em>Feature Selection Particle Swarm Optimization</em> dan <em>Genetic Algorithm</em></h3>
            </div>

            <div class="container mt-4 mb-5">
              <h4>Dataset</h4>
              <p>Dataset yang diperoleh terdiri dari {{ row }} baris dan {{ col }} kolom. Kelas ‘0’ untuk kelas negatif, ‘1’ untuk kelas positif, dan ‘2’ untuk kelas netral. Dari dataset ini didapat jumlah data dengan kelas negatif sebanyak 2240, positif sebanyak 546, dan netral sebanyak 1225.</p>
              <div class="table-container">
                {{ table|safe }}
              </div>
            </div>

            <div class="container mb-5">
              <h4>Abstrak</h4>
              <p>
                Pada masa pemerintahan Kabinet Indonesia Maju, Indonesia mengonfirmasi
				kasus pertama COVID-19 yang jumlah positifnya semakin bertambah sampai
				sekarang. Masyarakat melalui Twitter banyak menyampaikan opininya terhadap
				kinerja pemerintah dalam menangani pandemi. Opini ini dapat menjadi
				pertimbangan pemerintah dalam mengambil keputusan atau kebijakan selanjutnya
				dalam menangani pandemi. Opini dapat diprediksi menggunakan teknologi
				machine learning yang kinerja modelnya dapat dioptimalkan menggunakan fitur
				seleksi. Oleh karena itu, penelitian ini bertujuan untuk membangun sistem
				prediksi sentimen masyarakat terhadap Kabinet Indonesia Maju dalam menangani
				COVID-19 menggunakan fitur seleksi Particle Swarm Optimization (PSO) dan
				Genetic Algorithm (GA) berbasis web.
                <br><br>
				Metode penelitian yang digunakan dalam penelitian ini yaitu Waterfall yang
				memiliki 5 fase yaitu fase communication, fase planning, fase modeling, fase
				construction, dan fase deployment. Analisis sentimen dikategorikan menjadi
				positif, negatif, dan netral. Sistem dirancang menggunakan UML yang terdiri dari
				use case diagram, class diagram, activity diagram, dan sequence diagram. Sistem
				diimplementasikan menggunakan bahasa pemrograman Python dan framework
				Flask.
				<br><br>
				Dari penelitian ini didapatkan hasil akurasi SVM dengan fitur seleksi PSO
				sebesar 90,67% dan f1 score 90,64% serta waktu latih 1,45 menit untuk 138
				subset fitur, sedangkan SVM dengan GA menghasilkan akurasi sebesar 90,80%
				dan f1 score 90,77% serta waktu latih 1,28 menit untuk 124 subset fitur dari
				jumlah fitur awal sebanyak 200. Dari hasil tersebut dapat disimpulkan bahwa
				model dengan fitur seleksi GA lebih unggul dibandingkan model dengan fitur
				seleksi PSO.
                <br><br>Kata Kunci : Analisis sentimen, fitur seleksi, <em>Particle Swarm Optimizaton, Genetic Algorithm, Support Vector Machine.</em> 
              </p>
            </div>

            <div class="container mb-5">
              <div class="row font-sm">
                <div class="col-md-4">
                  <h4>Tentang Penulis</h4>
                  <p>Nama: Syaina Nur Fauziyah
                  <br>NPM: 140810170025
                  <br>Perguruan Tinggi: Universitas Padjadjaran
                  <br>Fakultas/Prodi: FMIPA/Teknik Informatika</p>
                </div>
                <div class="col-md-4">
                  <h4>Pembimbing 1</h4>
                  <p>Nama: Prof. Dr. Atje Setiawan A, M.Kom
                  <br>NIP: 19541217 198601 1 001
                  </p>
                </div>
                <div class="col-md-4">
                  <h4>Pembimbing 2</h4>
                  <p>Nama: Dr. Afrida Helen, M.Kom
                  <br>NIP: 19650128 199703 2 001
                  </p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    </div>
</body>
</html>