<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentimen Analisis Kabinet Indonesia Maju</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row height-100-vh mt">
          <div class="col-3 dark-blue-bg pt-5 px-3">
            <ul class="nav flex-column mt-4 nav-menu">
                <li class="nav-item menu-active">
                    <a class="nav-link active link-light" aria-current="page" href="#">Beranda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="#">Pengolahan Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="#">Fitur Seleksi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="#">Training dan Evaluasi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="#">Prediksi Sentimen</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link link-dark disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
              </ul>
          </div>
          <div class="col pt-5 px-lg-5">
            <div class="container mt-4">
            </div>
          </div>
        </div>
    </div>
</body>